*,
::before,
::after {
	box-sizing: border-box;
}



:root {

	--ff-primary: "Cairo", sans-serif;
	--clr-background:#F5F5F5;	
}

* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}

img, video {
  display: block;
  max-width: 100%;
}



html{

	font-size: 62.5%;
}

body{

	font-family: var(--ff-primary);
	background-color: var(--clr-background);
}


a{

	text-decoration: none;
}


p {
	font-size: 1.6rem;
	letter-spacing: 1.8;

}


