:root {
	--ff-primary: "Cairo", sans-serif;
	
	--clr-background: 	#F5F5F5;
	--clr-white: 		#F1FCDE;
	--clr-black: 		#090E01;
	--clr-light-green: 	#DEF8AF;
	--clr-medium-green: #88CC11;
	--clr-dark-green: 	#456809;
	--clr-gree-ecology: #018d34;
	
	--spacing: 0.25rem;
	--transition: all 0.2s linear;
	--dark-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, 0.2);
}



    .hero {
      position: relative;
      min-height: 100vh;
      display: flex;
      align-items: center;
      overflow: hidden;
    }


    .hero video {
      width: 100%;
      height: 100vh;
      object-fit: cover;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }


    .hero_texts {
	  min-width: 37rem;
	  padding: 5rem;
	  margin-top: 9rem;

    }

        
    .hero_texts h1 {
	  padding-top: 3.4rem;
	  font-size: 7rem;
    line-height: 9rem;
	  font-weight: 900;
	  color: var(--clr-background);
	  text-transform: uppercase;
	}

 .hero_texts h1 span {
  display: block;
  transform: translateY(20px);
  opacity: 0;
  animation: slideUp .6s ease forwards;
}

.hero_texts h1 span:nth-child(1) { animation-delay: 0.2s; }
.hero_texts h1 span:nth-child(2) { animation-delay: 0.4s; }
.hero_texts h1 span:nth-child(3) { animation-delay: 0.6s; }

/* ------------------------
   PARÁGRAFO — animação + quebras
------------------------ */
	 .hero_texts p {
	  font-size: 1.6rem;
	  font-weight: 600;
	  color: var(--clr-background);
	  min-width: 48rem;
	  margin-bottom: 2.2rem;
  }

   .hero_texts p span {
    display: block;
    transform: translateY(20px);
    opacity: 0;
    animation: slideUp .6s ease forwards;
 }

.hero_texts p span:nth-child(1) { animation-delay: 0.8s; }
.hero_texts p span:nth-child(2) { animation-delay: 1s; }




    .hero_texts button {
      all: unset;
      background-color: var(--clr-green-ecology);
      color: var(--clr-white);
      padding: .8rem 1.4rem;
      border-radius: .6rem;
      font-size: 1.6rem;
      font-weight: 900;
      transition: var(--transition);
      cursor: pointer;
    }

    .hero_texts button:hover {
      opacity: 0.85;
    }

    /* ------------------------
         ANIMAÇÃO
    ------------------------ */
    @keyframes slideUp {
      to {
            transform: translateY(0);
            opacity: 1;
        }
    }


    @media(max-width: 830px){

      .hero_texts button{
        display: none;
      }

      .hero_texts{
        margin-top: 2rem;
        width: 100%;
        padding: 4rem 2rem;
        text-align: center;
      }

      .hero_texts h1 {

        font-size: clamp(4rem, 8vw, 6rem);
        line-height: 7rem;

      }

      .hero_texts p {
        font-size: clamp(1.4rem, 3vw, 1.6rem);
        min-width: 90%;
      }



    }