:root {
  --clr-background: #F5F5F5;
  --clr-white: #F1FCDE;
  --clr-black: #090E01;
  --clr-light-green: #DEF8AF;
  --clr-medium-green: #88CC11;
  --clr-dark-green: #456809;
  --clr-green-ecology: #018d34;

  --spacing: 0.25rem;
  --transition: all 0.3s ease;
  --shadow: 0 .3rem 1.1rem rgba(0, 0, 0, 0.06);
}


.card{
    border: 1px solid #fff;
    width: 350px;
    height: auto;
    border-radius: 8px;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.1);
    transition: transform 0.2s;
}


.card:hover{
    transform: translateY(-10px);
    box-shadow: 3px 3px 18px rgba(0,0,0,0.2);
}

.card p{
    font-size: 1.4rem;
}



.fa-spin {
    color: var(--clr-green-ecology);
    margin-bottom: 24px;
}

@media (max-width: 1280px) {
    .card {
        width: 100%;
    }
}