.container {
  display: flex;
  flex-direction: row;
  gap: 24px;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
  padding: 0 1rem;
}

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}
